<app-header [msg]="'This is my 1st header'"> </app-header>

<span> The title is {{title}} </span>

<app-holding></app-holding>

<app-trade></app-trade>

<app-footer></app-footer>

<router-outlet></router-outlet>

